<app-display-output [currentCalculation]="currentCalculation"></app-display-output>

<div class="keyboard-layout">
  <div class="number-layout">
    <app-button [symbol]="'1'"
      (outputVale)="concatOperation($event)"></app-button>
    <app-button [symbol]="'2'"
      (outputVale)="concatOperation($event)"></app-button>
    <app-button [symbol]="'3'"
      (outputVale)="concatOperation($event)"></app-button>
    <app-button [symbol]="'4'"
      (outputVale)="concatOperation($event)"></app-button>
    <app-button [symbol]="'5'"
      (outputVale)="concatOperation($event)"></app-button>
    <app-button [symbol]="'6'"
      (outputVale)="concatOperation($event)"></app-button>
    <app-button [symbol]="'7'"
      (outputVale)="concatOperation($event)"></app-button>
    <app-button [symbol]="'8'"
      (outputVale)="concatOperation($event)"></app-button>
    <app-button [symbol]="'9'"
      (outputVale)="concatOperation($event)"></app-button>
    <app-button [symbol]="'0'"
      (outputVale)="concatOperation($event)"></app-button>
  </div>

  <div class="operations-layout">
    <app-button [symbol]="'+'"
      (outputVale)="concatOperation($event)"></app-button>
    <app-button [symbol]="'-'"
      (outputVale)="concatOperation($event)"></app-button>
    <app-button [symbol]="'*'"
      (outputVale)="concatOperation($event)"></app-button>
    <app-button [symbol]="'/'"
      (outputVale)="concatOperation($event)"></app-button>
    <app-button [symbol]="'='"
      (outputVale)="concatOperation($event)"></app-button>
  </div>
</div>
